--- 
import Whatsapp from "./icons/Whatsapp.astro";
const numero_whatsapp = import.meta.env.PUBLIC_NUMERO_WHATSAPP
const message = 
  {
    name: "Quiero inscribirme...",
    href: `${numero_whatsapp}?text=Hola,%20quiero%20inscribirme%20al%20regimen%20de%20responsable%20inscripto%20,%20¿me%20pueden%20ayudar%20a%20realizarlo?.`,
  };
---

<div class="flex justify-center my-6">
  <a
    type="button"
    href={message.href}
    target="_blank"
    class="flex items-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
  >
    <Whatsapp class="fa fa-whatsapp whatsapp-icon" />
    {message.name}
  </a>
</div>


<div class="text-pretty tracking-wide text-gray-800 mt-4 drop-shadow-sm">
  <p class="mb-2">
    Un <b>Responsable Inscripto</b> en Argentina es una persona (física o jurídica)
    que desarrolla actividades económicas y está inscrita ante AFIP (Administración
    Federal de Ingresos Públicos) en IVA (Impuesto al Valor Agregado) y Ganancias
    (Impuesto a las ganancias). Esta persona abona dichos tributos por sus ventas
    y puede computar créditos fiscales por sus compras.
  </p>
  <p class="my-2">
    Es importante mencionar que este tipo de contribuyente suele tener una mayor
    carga de formalidades, como la presentación de libros contables, y una mayor
    carga impositiva en comparación con un monotributista.
  </p>
  <p class="my-2">
    Los impuestos que enfrenta un Responsable Inscripto incluyen el Impuesto al
    Valor Agregado (IVA) y el Impuesto a las Ganancias. El monto a pagar depende
    de varios factores, como los ingresos, gastos, estado civil, si tiene hijos,
    entre otros.
  </p>

   


  <div class="flex justify-center my-6">
    <a
      type="button"
      href={message.href}
      target="_blank"
      class="flex items-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
    >
      <Whatsapp class="fa fa-whatsapp whatsapp-icon" />
      {message.name}
    </a>
  </div>
</div>
