--- 
import Whatsapp from "./icons/Whatsapp.astro";
const numero_whatsapp = import.meta.env.PUBLIC_NUMERO_WHATSAPP
const message = 
  {
    name: "Quiero obtener el formulario...",
    href: `${numero_whatsapp}?text=Hola,%20quiero%20obtener%20el%20formulario%20C.E.T.A%20,%20¿me%20pueden%20ayudar%20a%20realizarlo?.`,
  };
---

<div class="flex justify-center my-6">
  <a
    type="button"
    href={message.href}
    target="_blank"
    class="flex items-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
  >
    <Whatsapp class="fa fa-whatsapp whatsapp-icon" />
    {message.name}
  </a>
</div>

 

<div class="text-pretty tracking-wide text-gray-800 mt-4 drop-shadow-sm">
  <p class="my-2">
    El Formulario CETA (Certificado de Transferencia de Automotores) es un
    documento que se debe presentar ante la Agencia de Recaudación y Control Aduanero ARCA (ex AFIP)  
     en Argentina cuando realizas la venta o transferencia de un
    vehículo . Es un requisito legal indispensable para validar la operación.
  </p>
  <p class="my-2">
    Este formulario se debe tramitar si vendiste un vehículo usado y radicado en
    la Argentina por un valor igual o superior a $4.500.0002. Deben hacerlo
    también las sucesiones indivisas y las personas jurídicas titulares del
    dominio, del país o residentes en el exterior.
  </p>
  <p class="my-2">
    Para tramitar el Formulario CETA necesitas la siguiente información:
  </p>
  <p class="my-2">
    <ul class="space-y-4 text-left text-gray-600 px-10">
      <li class="flex items-center space-x-3 rtl:space-x-reverse">
        <svg
          class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 16 12"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5.917 5.724 10.5 15 1.5"></path>
        </svg>
        <span>
          Identificación del vehículo: número de dominio, marca, modelo, fábrica
          y tipo.
        </span>
      </li>
      <li class="flex items-center space-x-3 rtl:space-x-reverse">
        <svg
          class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 16 12"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5.917 5.724 10.5 15 1.5"></path>
        </svg>
        <span>Valor: monto de la transferencia. </span>
      </li>
      <li class="flex items-center space-x-3 rtl:space-x-reverse">
        <svg
          class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 16 12"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5.917 5.724 10.5 15 1.5"></path>
        </svg>
        <span>
          Vendedor: apellidos y nombres o denominación, CUIT, CUIL y/o CDI y
          porcentaje de titularidad del vehículo.
        </span>
      </li>
      <li class="flex items-center space-x-3 rtl:space-x-reverse">
        <svg
          class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 16 12"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5.917 5.724 10.5 15 1.5"></path>
        </svg>
        <span>
          Comprador: apellido y nombres, denominación o razón social, CUIT, CUIL
          y/o CDI y porcentaje de titularidad sobre el vehículo.
        </span>
      </li>
    </ul>
  </p>


  <div class="flex justify-center my-6">
    <a
      type="button"
      href={message.href}
      target="_blank"
      class="flex items-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
    >
      <Whatsapp class="fa fa-whatsapp whatsapp-icon" />
      {message.name}
    </a>
  </div>

   



  </div>
</div> 